#header {
    padding: 10px;
    width: 100%;
    background: white;
    box-shadow: 0 3px 6px rgba(175, 247, 7, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)
}

#compas {
    margin-left: 30px;
    margin-top: 10px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

#Travelo {
    margin-left: 80px;
    margin-top: -38px;
    width: 40px;
    height: 40px;
}

.navbar {
    height: 100%;
}

.navbar-brand {
    font-size: 25px;
    display: flex;
    align-items: center;
}

.navbar-brand svg {
    font-size: 40px;
    margin-right: 5px;
    color: rgb(255, 74, 82);
}

.navbar-nav:first-child {
    justify-content: space-evenly;
}

.nav-link,
.nav-contact span {
    font-size: 15px;
    color: #000 !important;
}

.nav-contact,
.nav-social {
    display: flex;
    align-items: center;
    padding: 0 10px;
    position: relative;
}

.nav-contact::after {
    content: '';
    width: 100%;
    height: 50%;
    position: absolute;
    border-right: 1px solid rgb(170, 177, 183);
}

.nav-contact svg,
.nav-link svg {
    font-size: 15px;
    color: rgb(170, 177, 183);
}

.nav-contact svg {
    color: rgb(255, 74, 82);
    margin-right: 5px;
}

.nav-social .nav-link {
    margin-left: 5px;
}

.nav-link:hover,
.nav-social svg:hover {
    color: rgb(255, 74, 82) !important;
}

.header {
    position: relative;
    height: 80px;
}

/* Bagian About */
.about {
    background-image: url(/img/guilherme1_jpg.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 400px;
    text-align: center;
}

.about h1 {
    font-family: 'Caveat', cursive;
    color: white;
    font-size: 100px;
}

.about h6 {
    font-family: 'Concert One', cursive;
    color: ivory;
    font-size: 20px;
    word-spacing: 10px;
}

#story {
    padding-top: 50px;
    padding-left: 50px;
}

.p_story {
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 500px
}

.foto_travel {
    padding-left: 100px;
}

#ft2_france {
    padding-left: 100px;
}

.videoatas {
    margin-top: 80px;
    width: 100%;
}

.card {
    margin: 80px;
    height: 120px;
    width: 120px;
}

/* Footer */
.footer {
    background-color: rgb(0, 0, 73);
    color: #fff;
}

.footer ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.our-address svg {
    font-size: 40px;
    color: rgb(255, 74, 82);
}

.our-address a {
    font-size: 25px;
    color: #fff;
    display: flex;
    align-items: center;
}

.our-address a:hover,
.nav-footer a:hover {
    text-decoration: none;
    color: rgb(255, 74, 82);
}

.our-address p {
    font-size: 15px;
}

.nav-footer h6 {
    font-size: 20px;
}

.nav-footer a {
    color: #fff;
    font-size: 15px;
}

.ig-pic:first-child {
    width: 100%;
    height: 80px;
    background-image: url('/img/index-popular-places/sangga-rima-roman-selia-wU_YIRdyz1I-unsplash.jpg');
    background-size: cover;
    background-position: center;
}

.ig-pic:nth-child(2) {
    width: 100%;
    height: 80px;
    background-image: url('/img/index-popular-places/taylor-simpson-a_2DrykebZY-unsplash.jpg');
    background-size: cover;
    background-position: center;
}

.ig-pic:nth-child(3) {
    width: 100%;
    height: 80px;
    background-image: url('/img/index-popular-places/taylor-simpson-QR_6amHtpWs-unsplash.jpg');
    background-size: cover;
    background-position: center;
}

.ig-pic:nth-child(4) {
    width: 100%;
    height: 80px;
    background-image: url('/img/index-popular-places/taylor-simpson-SHHGwnFLJAk-unsplash.jpg');
    background-size: cover;
    background-position: center;
}

.ig-pic:nth-child(5) {
    width: 100%;
    height: 80px;
    background-image: url('/img/index-popular-places/taylor-simpson-TR3gu5giL6I-unsplash.jpg');
    background-size: cover;
    background-position: center;
}

.ig-pic:last-child {
    width: 100%;
    height: 80px;
    background-image: url('/img/index-popular-places/taylor-simpson-Yc3NzilnrGM-unsplash.jpg');
    background-size: cover;
    background-position: center;
}

.copyright {
    font-size: 12px;
}

.copyright a {
    color: rgb(255, 74, 82);
}

.copyright a:hover {
    text-decoration: none;
}

@import url('https://fonts.googleapis.com/css?family=Concert+One&display=swap');