/* #header {
    padding: 10px;
    width: 100%;
    background: white;
    box-shadow: 0 3px 6px rgba(175, 247, 7, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)
}

#compas {
    margin-left: 30px;
    margin-top: 10px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

#Travelo {
    margin-left: 80px;
    margin-top: -38px;
    width: 40px;
    height: 40px;
}

.navbar {
    margin-left: 200px;
    margin-top: -48px;
    width: 40px;
    height: 40px;
}

** Menu Dropdown **
.mainmenubtn {
    color: black;
    border: none;
    cursor: pointer;
    margin-top: 7px;
}

.mainmenubtn:hover {
    background-color: white;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-child {
    display: none;
    background-color: white;
    min-width: 200px;
}

.dropdown-child a {
    color: black;
    padding: 20px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-child {
    display: block;
} */

/* Bagian About */
.about {
    background-image: url(/img/guilherme1_jpg.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 400px;
    text-align: center;
}

.about h1 {
    font-family: 'Caveat', cursive;
    color: white;
    font-size: 100px;
}

.about h6 {
    font-family: 'Concert One', cursive;
    color: ivory;
    font-size: 20px;
    word-spacing: 10px;
}

#story {
    padding-top: 50px;
    padding-left: 50px;
}

.p_story {
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 500px
}

.foto_travel {
    padding-left: 100px;
}

#ft2_france {
    padding-left: 100px;
}

.videoatas {
    margin-top: 80px;
    width: 100%;
}

@import url('https://fonts.googleapis.com/css?family=Concert+One&display=swap');