.jumbo {
    background-size: cover;
}

.center {
    text-align: center;
}

.input-area {
    border: 1px solid black;
    width: 100%;
    border-radius: 8px;
    background-color: whitesmoke;
    padding: 10px;
}

.text-area {
    border: 1px solid black;
    width: 100%;
    background-color: whitesmoke;
    border-radius: 8px;
    height: 150px;
    padding: 10px;
}

.button-submit {
    height: 50px;
}

.bg2 {
    height: auto;
    background-image: url("/img/Detail-bg2.jpg");
    background-size: cover;
    opacity: 70%;
}

.padding-text-2 {
    padding: 50px;
}

.text-2 {
    color: white;
    opacity: 100%;
}

.input-2 {
    border: 1px solid black;
    border-radius: 6px;
    height: 40px;
    width: 300px;
    margin: 10px;
    padding: 10px;
}

.card-widht {
    width: 100%;
}

.star-logo {
    color: yellow;
}

.kanan {
    float: right;
}

.content-height {
    height: 300px
}